@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Moon+Dance&display=swap');

:root {
    --color-light-50: #f8fafc;    
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    --color-green-50:#55da48;
    --color-green-100:#71e361;
    --color-green-200:#8ded7a;
    --color-green-300:#a8f692;
    --color-green-400:#c4ffab;    
    --color-gradient: linear-gradient(90deg, var(--color-green-50), var(--color-green-100),var(--color-green-200), var(--color-green-300))
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#login-form{
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 32px 42px;
    border-radius: 8px;
    gap: 32px;
    box-shadow: 0px 1px 8px 1px var(--color-green-50);
    height: fit-content;
}

#form-header {
    display: flex;
    align-items: center;
    gap: 64px;
}

#cadastro {
    position: relative;
    text-decoration: none;
    color: var(--color-green-50);
}

#cadastro::before {
    position: absolute;
    content: '';
    width: 100%;
    background-color: var(--color-green-50);
    height: 3px;
    bottom: -4px;
}

#login {
    position: relative;
    text-decoration: none;
    color: #000;
}

#login:hover {
    transition: 0.2s;
    color: var(--color-green-50);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.input-box label {
    font: 16px;
    color: rgb(5, 59, 5);
}

.input-space {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
    cursor: text;
    border-bottom: 1px solid var(--color-green-50);
}

.input-space i {
    font-size: 20px;
    color: var(--color-dark-900);
}

.input-space input{
    border: none;
    background-color: transparent;
    width: 256px;
    font-size: 20px;
    padding: 0px 4px;
}

.input-space input:focus{
    outline: none;
}

#cadastro-empresa-cliente {
    display: flex;
    justify-content: center;
}

#cadastro-empresa-cliente a{
    text-decoration: none;
    font-size: 16px;
    color:  rgb(5, 59, 5);
}

#cadastro-empresa-cliente a:hover {
    transition: 0.3s;
    color: var(--color-green-50);
}

#cadastrar-button {
    border: none;;
    padding: 7px;
    border-radius: 4px;
    color: var(--color-green-50);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
    box-shadow: 0px 1px 4px 1px var(--color-green-50);
}

#cadastrar-button:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

#logo {
    margin-bottom: 2%;
}

#form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
