<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link th:href="@{/css/cadastro.css}" rel="stylesheet" />
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastro - JobConnect</title>
</head>

<body>
    <main id="container">
        <div id="logo"><a href="index.html"><img src="../static/img/WhiteMode-64px.png" alt="" srcset=""></a></div>
        <form id="login-form" th:action="@{/usuario/cadastrar}" th:object="${usuario}" method="post">
            <div id="form-header">
                <a id="login" th:href="@{login}">Efetue Login</a>
                <a id="cadastro" href="cadastro.html">Crie sua conta</a>
            </div>
            <div id="inputs">
                <div class="input-box">
                    <label for="nome">
                        Nome                        
                        <div class="input-space">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" id="name" th:field="*{nome}">
                        </div>
                    </label>
                </div>

                <div class="input-box">
                    <label for="cpf">
                        CPF
                        <div class="input-space">
                            <i class="fa-solid fa-wallet"></i>
                            <input type="text" id="cpf" th:field="*{cpf}" autocomplete="off" minlength="14" maxlength="14" onkeypress="cpfMask()">
                        </div>
                    </label>
                </div>
                <div class="input-box">
                    <label for="email">
                        Email
                        <div class="input-space">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" id="email" th:field="*{email}">
                        </div>
                    </label>

                </div>

            </div>
            <div class="input-box">
                <label for="senha">
                    Senha
                    <div class="input-space">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="password" th:field="*{senha}">
                    </div>
                </label>
            </div>
            <div id="form-footer">
                
					<button type="submit" id="cadastrar-button">Cadastrar</button>
                <div id="cadastro-empresa-cliente">
                    <a th:href="@{/empresa/cadastro}">Cadastro para empresas</a>
                   
                </div>
            </div>
    </main>
    <script src="../static/javascript/script.js"></script>
</body>

</html>