<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <title>ConnectJob - Contatos</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-light text-center">
            <div class="container-fluid bg-nav box">
                <a class="navbar-brand" href="#"><img class="img-fluid st teste-img" th:src="@{/img/2.png}"
                        alt="logo do projeto" width="150" height="100"></a>
                <button class="navbar-toggler bg-light text-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto me-3 mb-2 mb-lg-0 fs-5 gap-4  ">
                        <li class="nav-item">
                            <a class="nav-link t " th:href="@{/usuario/home/{id}(id=${usuario.id})}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/usuario/cursos/{id}(id=${usuario.id})}"> Cursos </a>
                        </li>               
                  
                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/usuario/vagas/{id}(id=${usuario.id})}"> Vagas </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/usuario/contatos/{id}(id=${usuario.id})}"> Contatos </a>
                        </li>   
             
                        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meu Perfil
          </a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" th:href="@{/usuario/profile/{id}(id=${usuario.id})}"> Gerenciar Perfil </a></li>    

          </ul>
        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container p-5">

        <p class="fs-2 text-center"> Entre em contato conosco!</p>

        <section class="row gap-3 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 d-flex justify-content-center text-center" id="area-contato">
            <div class="col">
                <i class="bi bi-geo-alt"></i>
                <div id="endereco">
                    <p> Praça Senador Salgado Filho, s/n° – Rio de Janeiro – RJ</p>
                </div>

            </div>
            <div class="col ">
                <i class="bi bi-telephone"></i>
                 <p>Atendimento ao cliente: (11) 9999-9999</p>
            </div>
            </div>

            <div class="col ">
                <i class="bi bi-envelope"></i>
                <div id="email">
                    <p>recodeprosquad12@gmail.com</p>
                </div>
            </div>

            <p class="mt-5 fw-bold">* Atendimento de segunda à sexta em horário comercial</p>
        </section>
        <hr>

        <section class="mb-5">
            <p class="fs-3">Deixe sua mensagem</p>
            <div class="mb-3 ">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" class="form-control focus-ring " id="exampleFormControlInput1" placeholder="Digite o seu nome">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                <input type="email" class="form-control focus-ring " id="exampleFormControlInput1"
                    placeholder="Digite seu melhor e-mail">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                <textarea class="form-control focus-ring " id="exampleFormControlTextarea1" rows="3"
                    placeholder="Digite sua mensagem"></textarea>
            </div>
            <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success">Enviar</button>
        </div>
        </section>
    </main>

    <footer id="footer" class="mt-5">

        <div class="container-fluid row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3">
            <div class="col" id="contact-info">
                <div class="footer-brand">
                    <img id="logoRodape" th:src="@{/img/logofooter.png}" alt="conectjob" class="img-fluid h-50">
                    <hr>
                </div>
                <p><i class="bi bi-geo-alt"></i> Praça Senador Salgado Filho, s/n° – Rio de Janeiro – RJ </p>
                <p><i class="bi bi-telephone"></i>(99)9999-9999</p>
                <p><i class="bi bi-envelope"></i>recodeprosquad12@gmail.com</p>
            </div>
            <div class="col">
                <h4 class="mt-4 text-center">Outros serviços</h4>
                <nav>
                    <a href="#">Propriedade intelecutal</a>
                    <hr>
                    <a href="#">LGPD</a>
                    <hr>
                    <a href="#">Direito internacional</a>
                </nav>
            </div>
            <div class="col">
                <div class="social-networks">
                    <h4 class="mt-4 text-center">Siga-nos</h4>
                    <div class="networks">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="https://github.com/Squad12Rcd" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <p class="container text-center mt-5"><i class="bi bi-c-circle"></i> ConnectJob - Todos os direitos
                reservados
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
</body>

</html>