 <header th:fragment="headerUsuario">
        <nav class="navbar navbar-expand-lg bg-body-light text-center">
            <div class="container-fluid bg-nav box">
               <a class="navbar-brand"><img th:src="@{/img/DarkMode-500px.png}" alt="logo do projeto"
            width="80" height="80"></a> <span class="fs-2 text-success">Connect</span><span class="fs-2"><strong>Job</strong></span>
                <button class="navbar-toggler bg-light text-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto me-3 mb-2 mb-lg-0 fs-5 gap-4  ">
                        <li class="nav-item">
                            <a class="nav-link t " th:href="@{/usuario/home/{id}(id=${usuario.id})}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/usuario/cursos/{id}(id=${usuario.id})}"> Cursos </a>
                        </li>               
                  
                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/usuario/vagas/{id}(id=${usuario.id})}"> Vagas </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/usuario/contatos/{id}(id=${usuario.id})}"> Contatos </a>
                        </li>
                        
                        
                        
                        <div class="dropdown mx-auto">
						  <button class="nav-link t text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						      <li class="list-group-item"><span th:text="${usuario.nome}"></span></li>
						  </button>
						  <ul class="dropdown-menu">
						    <li class="nav-item">
                			<a class="nav-link t text-black" th:href="@{/usuario/profile/{id}(id=${usuario.id})}"> Meu Perfil </a>            
                        </li>
                     
                      <li>
								<a class="nav-link t text-black" href="">Minhas Vagas</a>
								</li>
                     
						    <li>
								<a class="nav-link t text-black" href="">Logout</a>
								</li>
						  </ul>
						</div>
                         
                    </ul>
                </div>
            </div>
        </nav>
    </header>
