<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ConnectJob - Home </title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />

  
  
</head>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
 
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>


<body>
  <header th:replace="~{header :: header}">
 
  </header>

  <section id="cabecalho">
    <div class="video-background">
      <video autoplay loop muted id="video-background">
        <source th:src="@{/img/vecteezy_isometric-desktop-computer-coding-programming-technology_22328336.mp4}" type="video/mp4">
        Seu navegador não suporta vídeos em HTML5.
      </video>
      <div class="content text-center container-fluid">
        <h1 class="mt-5"> Oferecemos uma <span class="text-success"><strong> nova</strong></span> experiência de
          ensino para você.</h1>
          <p class="mt-5">O conhecimento é a chave para as portas do sucesso. <br>Venha descobrir o mundo através da
            educação e alcançar todos os seus sonhos!</p>
        <div class="main-button">
            <div class="scroll-to-section"><a th:href="@{/usuario/cadastro}"><button class="btn btn-light btn-outline-dark mt-3 mx-3"> Criar conta</button></a></div>
        </div>
        <div class="containercards container">
          <div class="card border bg-dark text-white border-success">
            <h5> Cursos Online</h5>
            <div class="content bg-dark text-white">
              Rompemos barreiras no conhecimento ao conectar estudantes com materiais 100% digitais e com metodologias de estudos para cada necessidade.
            </div>
          </div>
          <div class="card border bg-dark text-white border-success">
            <h5>Empregabilidade</h5>
            <div class="content bg-dark text-white">
              Conectamos estudantes a empresas e ONGs cadastradas visando iniciar carreiras no mercado de trabalho tech.
            </div>
          </div>
          <div class="card border bg-dark text-white border-success">
            <h5>Inclusão</h5>
            <div class="content bg-dark text-white ">
              Possibilitamos a inclusão no mercado de trabalho para pessoas de baixa renda interessadas na área tech que não tiveram oportunidades de acesso à capacitação
            </div>
          </div>
        </div>        
      </div>

    </div>
        
  
  </section>

  <main class="p-3 d-flex flex-column container">
    <section id="carreiras">
      <p class="fs-2 box">Carreiras</p>
      <div class="row row-cols-sm-1 row-cols-md-3 mx-auto text-center g-3">
        <div class="col-sm">        
        <a class="btn box" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"><h4> Back-End</h4></a>
      </div>
      <div class="col-sm">        
        <a class="btn box" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"><h4> Front-End</h4></i></a>
      </div>
      <div class="col-sm">      
      <a class="btn box" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><h4> Full-Stack</h4></i></a>
    </div>  
      </div>
      <div id="carouselExampleIndicators" class="carousel slide mt-5">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12 col-lg-6 ">
                <img th:src="@{/img/back-end-developer.png}" class="img-fluid rounded float-end mb-5">
              </div>
              <div class="col-12 col-lg-6 ">
                <h4 class=""> O que é um desenvolvedor <span class="text-success"> back-end</span>? </h4>
                <p class=""> O TI é uma área de atuação extremamente ampla e, hoje mais do que nunca, necessária para o
                  sucesso de basicamente todo tipo de empresa. A boa notícia é que, por causa disso, não faltam
                  oportunidades de empregos bem remunerados, principalmente na área de programação e desenvolvimento. E é
                  aí que atua o programador back end. <br>
                  Este profissional é o cérebro por trás do bom funcionamento de todo website. Com foco em bancos de
                  dados, scripts e arquitetura de software, o ele constrói e mantém a tecnologia necessária para alimentar
                  os componentes que permitem uma boa experiência de usuário. <br>
                  Em outras palavras, o desenvolvedor back end atua nos bastidores da web, garantindo o bom funcionamento
                  dos websites e fazendo com que atividades como logins, buscas por informações e cadastros sejam
                  facilmente executadas, sem erros ou instabilidades.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div>
              <div class="row">
                <div class="col-12 col-lg-6 ">
                  <img th:src="@{/img/code-1076536_1280.jpg}" class="img-fluid rounded float-start mb-5">
                </div>
                <div class="col-12 col-lg-6 ">
                  <h4 class=""> O que é um desenvolvedor <span class="text-success"> front-end</span>?
                  </h4>
                  <p class=""> O profissional desenvolvedor front-end é o responsável por colocar em prática, através de
                    códigos, o design de um site ou interface. <br>
                    Enquanto o web design projeta o visual de um site, o desenvolvimento front-end implementa esse design
                    através de códigos, como HTML, CSS e JavaScript. Ou seja, é o front-end que coloca “para funcionar”
                    toda a parte visual de uma interface, como a página de um site ou de um aplicativo.
                    O front-end também deve ser capaz de se “comunicar” com a linguagem utilizada no back-end, que é a
                    parte estrutural de sites e plataformas. Dessa forma, o visual de uma interface conseguirá ter suas
                    funções correspondidas, como quando clicamos em um botão de “enviar mensagem” e a mensagem realmente é
                    enviada. Podemos dizer que tudo o que um usuário vê, interage ou clica é fruto do trabalho de um
                    desenvolvedor
                    front-end, que deve garantir que o site ou interface funcione corretamente e siga um design padrão em
                    todos os dispositivos.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div>
              <div class="row">
                <div class="col-12 col-lg-6 ">
                  <img th:src="@{/img/full.jpg}"  class="img-fluid rounded float-end mb-5">
                </div>

                <div class="col-12 col-lg-6 ">
                  <h4 class=""> O que é um desenvolvedor <span class="text-success"> Full
                      Stack</span>? </h4>
                  <p> Full Stack é um termo usado para se referir a um desenvolvedor que é bom em fazer tanto a
                    parte do visual e da interação do usuário em um site ou aplicativo (o frontend) quanto a parte de
                    armazenamento e processamento de informações no servidor (o backend). Em outras palavras, ele é um
                    faz-tudo, que consegue cuidar de toda a parte técnica do desenvolvimento de um projeto. <br>
                    Ser um desenvolvedor Full Stack requer conhecimentos em várias áreas diferentes, como linguagens de
                    programação, bancos de dados e servidores, e isso pode ser muito útil para projetos de qualquer
                    tamanho. A habilidade de trabalhar em todas as partes do desenvolvimento de um projeto, desde a
                    interface do usuário até o armazenamento de informações, pode tornar o processo mais eficiente e
                    permitir uma visão mais ampla do projeto como um todo. Ser capaz de entender e trabalhar em todas as
                    áreas de um projeto pode ser uma grande vantagem para o desenvolvedor e para a equipe como um todo
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
      <div class="container mt-5">
        <p class="fs-1 fw-bolder mt-5 transicao"> Venha conhecer as carreiras mais promissoras do mercado  </p>
      </div>
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
        <div class="d-flex flex-column col mb-5">
          <img th:src="@{/img/provasocial.jpg}" alt="pesquisa Glassdoor" class="img-fluid mb-2 transicao">
          <p style="font-size: 0.7em;">
            Fonte imagem: https://www.glassdoor.com.br/Sal%C3%A1rios/programador-sal%C3%A1rio-th:srcH_KO0,11.html
          </p>
        </div>
        <div class="col">
          <p class="box fs-2 fw-bolder" id="typing">        
          </p>
          <p class="text-start transicao">
            Na era da tecnologia, grandes empresas, para crescerem, precisam de bons profissionais e estão dispostas
            e remunerar muito bem.
          </p>

        </div>
      </div>
    </div>

      <div class="transicao">
        <div class="text-center box-proveSocial mt-5">
          <div class="row row-cols-2 row-cols-md-1 row-cols-sm-1">
            <div class="col col-text-prove titleProveSocial">
              <p class="box fs-1 fw-bolder text-start">
                Para começar você precisa de pouco.
              </p>
            </div>
            <div class="col">
              <img th:src="@{/img/provasocial1.jpg}" alt="Imagem O que é preciso" class="img-fluid mb-5">
            </div>
          </div>
        </div>      
      </div>
    </section>    

    <section id="nossoscursos" class="container-fluid">
      <p class="fs-2 box"> Cursos </p>
          
        <div id="carouselCursos" class="carousel slide container" data-ride="carousel" data-interval="false">          

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/html5-logo.png}" class="card-img-top" alt="...">                      
                    </div>
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/css3.png}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/javascript.png}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/php-logo.png}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">PHP</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/mongoDB-logo.png}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">MongoDB</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/sql-logo.png}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">SQL</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/java-logo.png}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/csharp-logo.svg}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">C#</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img th:src="@{/img/javascript.png}" class="card-img-top" alt="...">
                    </div>
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt non, voluptatum placeat velit autem, aliquam vitae ea libero veniam quibusdam. Numquam maxime nemo, voluptatum recusandae quae culpa animi harum.</p>
                    <a class="btn btn-outline-success"> Conferir </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-auto text-center">
          <i class="bi bi-square-fill carousel-control-prev-icon text-success" href="#carouselCursos" role="button" data-bs-slide-to="0"></i>      
          <i class="bi bi-square-fill carousel-control-next-icon text-success" href="#carouselCursos" role="button" data-bs-slide-to="1"></i>      
          <i class="bi bi-square-fill carousel-control-next-icon text-success" href="#carouselCursos" role="button" data-bs-slide-to="2"></i>      
        </div>
    </section>

    <section id="contatos" class="container mt-5">
      <h3 class="text-center"> Entre em contato </h3>
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
        <div class="col">
          <div class="container mt-5 d-flex-columns justify-content-center">
            <div>
            </div>
            <form style="margin: auto; width: 80%;">
              <div class="mb-3">
                <label for="inputName" class="form-label "> Nome: </label>
                <input type="text" class="form-control focus-ring " id="exampleInputName">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">E-mail:</label>
                <input type="email" class="form-control focus-ring " id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensagem:</label>
                <textarea class="form-control focus-ring " id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success rounded"> Enviar </button>
              </div>
            </form>
          </div>
        </div>  

        <div id="slideQuemSomos" class="carousel slide col mt-5" data-bs-ride="slideQuemSomos">
          <div class="carousel-inner w-75 mx-auto">
            <div class="carousel-item active">
              <div class="d-flex justify-content-center">    
                <img th:src="@{/img/squad12-transparente.png}">
              </div>
            </div>
            <div class="carousel-item mx-auto">
              <div class="mb-3">
                <div class="row g-0">
                  <div class="col">
                    <img th:src="@{/img/renatodavid.png}" class="img-quemsomos" alt="...">
                  </div>
                  <div class="col">
                    <div class="card-body text-start">
                      <h5>Renato Marques</h5><a href="https://www.linkedin.com/in/renatomarquesdavid/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                      </svg></a>
                      <a href="https://github.com/Renatodavid"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                      </svg>   </a>
                                        
                    </div>
                  </div>                  
                </div>
                <hr>
              </div>
              
              <div class=" mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col">
                    <img th:src="@{/img/rafaelNascimento.png}" class="img-quemsomos" alt="...">
                  </div>
                  <div class="col">
                    <div class="body text-start">
                      <h5>Rafael Nascimento</h5><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                      </svg></a>
                      <a href="https://github.com/RafaelNasA"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                      </svg></a>
                      
                      
                    </div>
                  </div>
                </div>
                <hr>
              </div>
          <div class=" mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col">
              <img th:src="@{/img/rafaelSantos.png}" class="img-quemsomos" alt="...">
            </div>
            <div class="col">
              <div class="body text-start">
                <h5>Rafael Santos</h5><a href="https://www.linkedin.com/in/rafael-dos-santos-433950267/"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                </svg></a>
               
               <a href="https://github.com/SantosRafael00"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                </svg></a>
                
              </div>
            </div>
          </div>
        </div>

            </div>
            <div class="carousel-item">
		
              <div class=" mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col">
                    <img th:src="@{/img/stefanyMarques.png}" class="img-quemsomos" alt="...">
                  </div>
                  <div class="col">
                    <div class="-body text-start">
                      <h5>Stéfany Marques</h5><a href="https://www.linkedin.com/in/st%C3%A9fany-marques/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                      </svg></a>
                      <a href="https://github.com/Stephmarquess"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                      </svg> </a>
                                           
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              
          <div class="mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col">
                <img th:src="@{/img/thalles.jpeg}" class="img-quemsomos" alt="...">
              </div>
              <div class="col">
                <div class="-body text-start">
                  <h5>Thalles Sampaio</h5> <a class="text-dark" href="https://www.linkedin.com/in/thallessampaio/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                  </svg></a>
                  <a class="text-black" href="https://github.com/thallesSampaio"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                  </svg></a>                     
                </div>
              </div>
            </div>
          </div>
          <hr>
           <div class="mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col">
                <img th:src="@{/img/MyllerTavares.png}" class="img-quemsomos" alt="...">
              </div>
              <div class="col">
                <div class="-body text-start">
                  <h5>Myller Tavares</h5> <a class="text-dark" href="https://www.linkedin.com/in/myller-tavares-863937234/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                  </svg></a>
                  <a class="text-black" href="https://github.com/MyllerT"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                  </svg></a>                     
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#slideQuemSomos" data-bs-slide="prev">
            <i class="bi bi-arrow-left text-dark fs-1"></i>         
            
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#slideQuemSomos" data-bs-slide="next">
            <i class="bi bi-arrow-right text-dark fs-1"></i>            
          </button>
        </div>
      
        </section>

  </main>   
    

<header  th:replace="~{footerUsuario :: footerUsuario}">

</footer>

   
</body>

</html>