<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/login.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Moon+Dance&display=swap" rel="stylesheet">
    <title>Login - JobConnect</title>
</head>

<body>
    <main id="container">
        <div id="logo"><a href="index.html"><img th:src="@{/img/WhiteMode-64px.png}" alt="" srcset=""></a></div>
        <form id="login-form" method="POST" th:action="@{/login}">
            <div id="form-header">
                <a id="login" th:href="@{/usuario/login}">Efetue Login</a>
                <a id="cadastro" th:href="@{/usuario/cadastro}">Crie sua conta</a>
            </div>
            <div id="inputs">
            </div>
            <div class="input-box">
                <label for="email">
                    Email
                    <div class="input-space">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="email" name="username">
                    </div>
                </label>

            </div>
            <div class="input-box">
                <label for="password">
                    Senha
                    <div class="input-space">
                        <i class="fa-solid fa-key"></i>
                        <input style="width: 215px;" type="password" id="password" name="password">
                        <div id="pass-btn"><i class="fa-solid fa-eye" id="btn-password" onclick="showPassword()"></i></div>
                    </div>
                </label>
            </div>
            </div>
            <div id="form-footer">
                <button type="submit" id="login-button"><a id="login-anchor" th:href="@{logado}">Login</a></button>
                <div id="esqueceu-senha">
                    <a href="#">Esqueceu sua senha?</a>
                </div>
            </div>
        </form>
    </main>

  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

    <!--Developed by https://github.com/ThallesSampaio-->
</body>
</html>
