<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

</head>

<body>
  <main>
    <section class="section1">
      <div class="login">
      <h3>Entre com suas credenciais para iniciar a seção</h3>
      <form method="POST" th:action="@{/login}">
        <div class="inputElement">
        <input type="email" placeholder="E-mail" name="username" required>
      </div>
      <div class="inputElement">
        <input type="password" placeholder="Senha" name="password" required>
      </div>
        <button type="submit">Entrar</button>
      </form>
      <p><span>Para seu primeiro acesso utilize:</span>
        <span>Login:admin@admin.com</span>
        <span>Senha:0000</span>
      </p>
    </div>
    </section>
  </main>
</body>

</html>