<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/headerEmpresa :: headerEmpresa}">

    </header>
    
    <main class="container shadow p-5 cabecalhoPerfil"> 
		<p class="fs-1 text-center text-success mt-1 box"> Perfil da Empresa</p>
		
         <div th:if="${param.perfilAtualizado}" class="alert alert-success" role="alert">
        <p class="text-center" th:text="${param.perfilAtualizado}"></p>
   		 </div>

	<div class="w-50 mx-auto mt-5" th:object="${empresa}">
		<ul class="list-group list-group-flush d-flex">
		<div class="mt-1">
			<label for="id"><strong>ID</strong>  </label>
			<li class="list-group-item mt-1"><span th:text="${empresa.id}"></span></li>			
		</div>
		<div class="mt-3">
			<label for="nome"><strong> Nome da empresa </strong></label>
			<li class="list-group-item mt-1"> <span th:text="${empresa.nome}">Microsoft</span></li>
		</div>
		<div class="mt-3">
			<label for="descricao"><strong> CNPJ </strong> </label>
			<li class="list-group-item mt-1"> <span th:text="${empresa.cnpj}">1515151515151</span></li>
		</div>
		<div class="mt-3">
			<label for="descricao"><strong> E-mail </strong></label>
			<li class="list-group-item mt-1"> <span th:text="${empresa.email}">microsoft@microsoft.com</span></li>
		</div>
		<div class="mt-3">
			<label for="descricao"> <strong> Senha </strong> </label>
			<li class="list-group-item mt-1"> <span th:text="${empresa.senha}">windows1990</span></li>
		</div>
		</ul>
	<div class="d-flex justify-content-center mb-3 gap-5 mt-5">	
	<a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editarEmpresa"> <i class="bi bi-pencil-square"></i> </a>	
	<a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletarEmpresa"><i class="bi bi-trash3"></i> </a>
	
	</div>	
</div>  


<div class="modal fade" id="editarEmpresa" tabindex="-1" aria-labelledby="editarEmpresaModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editarEmpresaModal">Editar Perfil Empresa </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/empresa/editar/{id}(id=${empresa.id})}" th:object="${empresa}" method="post">
	
		<div class=" mt-3">
			<label for="nome"> Nome da Empresa: </label>
			<input class="form-control mt-1 focus ring" type="text" id="nome" th:field="*{nome}" />
		</div>
		<div class=" mt-3">
			<label for="email"> E-mail: </label>
			<input class="form-control mt-1 focus ring"  type="text" id="email" th:field="*{email}" />
		</div>
		<div class=" mt-3">
			<label for="cnpj"> CNPJ: </label>
			<input class="form-control mt-1 focus ring" type="text" id="cnpj" th:field="*{cnpj}" autocomplete="off" minlength="14" maxlength="14" onkeypress="cnpjMask()">
		</div>
		<div class=" mt-3">
			<label for="senha"> Senha: </label>
			<input class="form-control mt-1 focus ring"  type="text" id="senha" th:field="*{senha}" />
		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button class="btn btn-success" type="submit"> Salvar </button>
      </div>
	</form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="deletarEmpresa" tabindex="-1" aria-labelledby="deletarEmpresaModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deletarEmpresamOdal"> Excluir Perfil Empresa </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Realmente deseja excluir seu perfil? Você será redirecionado para a página Home.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <a type="button" class="btn btn-danger" th:href="@{/empresa/deletar/{id}(id=${empresa.id})}">Confirmar</a>
      </div>
    </div>
  </div>
</div>


<section class="p-5" id="vagasEmpresa">
	<p class="fs-2 box"> Suas vagas cadastradas </p>

	<div th:if="${#lists.isEmpty(vagasEmpresa)}">
    	<p class="fs-5 text-center fw-bolder"> Você ainda não cadastrou nenhuma vaga! </p>
    	   
        </div>
        
<table class="table">
  <thead>
    <tr>
      <th scope="col">Vaga</th>
      <th scope="col">Modalidade</th>
      <th scope="col">Descricao</th>
      <th scope="col">Nível</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr th:each="vagasEmpresa : ${vagasEmpresa}">
      <td th:text="${vagasEmpresa.titulo}"> Desenvolvedor Java </td>
      <td th:text="${vagasEmpresa.modalidade}"> Remoto </td>
      <td th:text="${vagasEmpresa.descricao}"> Desenvolvedor Java, 5 dias por semana, férias, experiência desejável em Java Spring Boot </td>
      <td th:text="${vagasEmpresa.nivel}"> Estágio </td>
    </tr>
  </tbody>
</table>
 	      <div class="mt-3 mb-3 float-end">
	      <a class="btn btn-success" th:href="@{/empresa/gerenciarVagas/{id}(id=${empresa.id})}"> Gerenciar Vagas </a>
			</div>
</section>

<div class="d-flex justify-content-center mt-5">
	<a class="btn btn-success" th:href="@{/empresa/home/{id}(id=${empresa.id})}"> <i class="bi bi-arrow-left"></i></i> Voltar para Home </a>

</div>
	</main>
	    
    <footer id="footer" class="mt-5" th:replace="~{fragments/footerUsuario :: footerUsuario}">

    </footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>