<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <title> ConnectJob - Home </title>
</head>

<body>
    <header th:replace="~{headerUsuario :: headerUsuario}">
    </header>
    <main container="container"> 
		<p class="fs-1 text-center"> Informações do usuário </p>
		<div class="container shadow mb-5" th:if="${usuario != null}"> 
	<ul class="list-group list-group-flush" th:each="usuario : ${usuario}">
  <li class="list-group-item"><strong>Id:</strong> <span th:text="${usuario.id}"></span></li>
  <li class="list-group-item"><strong>Nome:</strong> <span th:text="${usuario.nome}"></span></li>
  <li class="list-group-item"><strong>Cpf:</strong> <span th:text="${usuario.cpf}"> </li>
  <li class="list-group-item"><strong>E-mail:</strong> <span th:text="${usuario.email}"></li>
</ul>	
		</div>
		<div class="d-flex justify-content-center gap-5">
	<a th:href="@{/usuario/editar/{id}(id=${usuario.id})}"><button class="btn btn-success mb-5"> Editar </button></a>	
	<a th:href="@{/usuario/deletar/{id}(id=${usuario.id})}"><button class="btn btn-danger mb-5"> Excluir Conta </button></a>				
		</div>
		<div class="d-flex justify-content-center">
		<a th:href="@{/usuario/home/{id}(id=${usuario.id})}"> <button class="btn btn-success mb-5">  Ir para Home </button></a>
		</div>	
		</div>
	</main>
        <footer id="footer" class="mt-5">
        <div class="container-fluid row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3">
            <div class="col" id="contact-info">
                <div class="footer-brand">
                    <img id="logoRodape" th:src="@{/img/logofooter.png}" alt="conectjob" class="img-fluid h-50">
                    <hr>
                </div>
                <p><i class="bi bi-geo-alt"></i> Praça Senador Salgado Filho, s/n° – Rio de Janeiro – RJ </p>
                <p><i class="bi bi-telephone"></i>(99)9999-9999</p>
                <p><i class="bi bi-envelope"></i>recodeprosquad12@gmail.com</p>
            </div>
            <div class="col">
                <h4 class="mt-4 text-center">Outros serviços</h4>
                <nav>
                    <a href="#">Propriedade intelecutal</a>
                    <hr>
                    <a href="#">LGPD</a>
                    <hr>
                    <a href="#">Direito internacional</a>
                </nav>
            </div>
            <div class="col">
                <div class="social-networks">
                    <h4 class="mt-4 text-center">Siga-nos</h4>
                    <div class="networks">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="https://github.com/Squad12Rcd" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <p class="container text-center mt-5"><i class="bi bi-c-circle"></i> ConnectJob - Todos os direitos
                reservados
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>