<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">

</head>

<body>
    <div id="content-header">
               <img th:src="@{/img/acordo.jpg}" id="header-background">
               <div class="col" id="content">  
				   <p class="fs-1 text-center p-3"> Vagas de Emprego</p>              
                <div class="col d-flex justify-content-center">
            </div>
            </div>
            </div>
            <div class="container-fluid p-3 header-vagas" id="background-div">
			 <p class="fs-2 text-center"> Vaga aplicada com sucesso! </p>
    </div>
    <main class="container d-flex flex-column justify-content-center">
        <section class="d-flex justify-content-center row row-cols-md-2 row-cols-sm-1 p-3 container table-responsive " id="vagas">		  
	  <tr th:each="vaga : ${vaga}" class="row row-cols-1 row-cols-md-2 g-4">     		  
<div class="col">
    <div class="card shadow">      
      <div class="card-body">
        <h5 class="card-title" th:text="${vaga.titulo}"> Front-End </h5>
        <div class="text-card">
			<div class="d-flex flex-column" >
			<li class="fs-5 bolder">Localização </li><span th:text="${vaga.localizacao}"></span>
			<li class="fs-5 bolder">Salário </li><span th:text="${vaga.salario}"></span>
			<li class="fs-5 bolder"> Área </li><span th:text="${vaga.area}"></span>
			</div>
		</div>
        <button type="button" class="btn btn-success mt-3">Aplicar Vaga</button>
      </div>
    </div>
  </div>
  </tbody>
</table>  				
        </section>
    </main>
	<footer id="footer" class="mt-5" th:replace="~{footerUsuario :: footerUsuario}">       
    </footer>   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>