@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Moon+Dance&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body {
	transition: background-color 0.5s ease;
}

.dark-mode {
	background-color: #343634;
	color: #fff;
}

.cabecalhoCurso,
.cabecalhoPerfil,
.cabecalhoVagas,
.cabecalhoContatos,
.cabecalhoGerenciaVagas,
.cabecalhoVisualizarCandidato {
	margin-top: 108px;
}

.cabecalhoUsuario,
.cabecalhoEmpresa,
.cabecalhoEditarVaga {
	margin-top: 150px;
}


.toggle-btn {
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	background-color: #fff;
	color: #333;
	border: none;
	outline: none;
}

#dados-aluno a {
	color: black;
}

#dados-aluno a .dark-mode {
	color: white;
}

:root {
	--main-color: #35ad25;
	--primary-text-color: #35ad25;
	--secondary-text-color: #5bce6a;
	--secondary-color: #35ad25;
	--tertiary-color: #35ad25;
}


/* VAGAS */
#header-background {

	position: relative;
	width: 100%;
	height: 70vh;
	overflow: hidden;

}

#content-header::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 70vh;
	background-color: #343634;
	opacity: 0.5;
}


#content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 1;
}

/* QUEM SOMOS */

.img-quemsomos {
	height: 80px;
	border-radius: 20%;
	margin-left: 10px;
}

#contatos .card {
	height: 100px;
}

#slideQuemSomos a {
	color: #000000;
}


.box {
	border-bottom: solid green 2px;
}

/* PROVA SOCIAL */

.transicao {
	opacity: 0;
	transition: opacity 2s;
}

.transicao.fade-in {
	opacity: 3;
}


/* NAVBAR */

.navbar {
	margin: 0 auto;
	background-color: #292929;
	color: white;
}

.navbar a {
	color: white;
}

.t:hover {

	color: #67bc48 !important;

}

/* VÍDEO */

.video-background {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.video-background video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-background .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 1;
}

.video-background::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

/* CARDS */

.card {
	width: 90%;
	background-color: #000000;
	border: 1px solid #ccc;
	padding: 20px;
	cursor: pointer;
}

.card .content {
	display: none;
	position: absolute;
	top: 0;
	background-color: #f9f9f9;
	padding: 10px;
	border: 1px solid #ddd;
	width: 100%;
	color: black
}

.card:hover .content {
	display: block;
}

/* CARDS */

.card {
	margin-bottom: 20px;
	text-align: center;

}


#cards-group .card-box {
	width: 95%;
	height: 53vh;
	margin: auto;
	border-radius: 0px 80px 0px 0px;
}


/* FORMULÁRIO */

.focus-ring {
	--bs-focus-ring-color: #4acc2a;
}


/* RODAPÉ */

#footer {
	color: #ffffff;
	background-color: #292929;
	display: flex;
	justify-content: space-evenly;
	padding: 3rem 3rem 5rem;

}

#footer a {
	color: #ffffff;
	text-decoration: none;
}

#logoRodape {
	width: 50%;
	height: 150px;
}

.networks {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
}


/* HOME LOGADO */

#dados-aluno {
	margin: auto;
}

#painel-vagas a {
	margin: auto;
}


.box {
	border-bottom: solid green 2px;
}


.t:hover {

	color: #67bc48 !important;

}

li {
	list-style-type: none;
}

/* VAGAS */


#busca-vagas {
	background-color: white;
	padding: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}


#busca-vagas select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: auto;
}


.box-vagas {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
	color: #666;
	display: flex;
	flex-direction: column;
	justify-content: center;


}

article p {
	font-size: 14px;
	line-height: 1.6;
	color: #666;
	margin-bottom: 10px;
}

/* VAGAS */

/* CURSOS */

.border-card {
	border: solid 1px #35ad25 !important;
	box-shadow: 10px 5px 5px #115e34;
}

.box {
	border-bottom: solid green 2px;
}

.t:hover {

	color: #67bc48 !important;
}

.accordion {
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(23, 100, 13, 0.753);
}


.card {

	height: 80vh;
}

.card img {
	height: 120px;
	width: 50%;
	margin: auto;
}

 #cardUser:hover {

	  color: #198754;

	  transition: 0.2s;

  }
  
  /* RESPONSIVIDADE */
  
 @media (max-width: 600px) {

.seçãoValores {
	flex-direction: column;
}

#contrato {
	visibility: hidden;
}

.accordion-button{
	justify-content: center;
}

}

 @media (max-width: 991px) {

#cabecalho {

	margin-top: 108px;

}

}
 

  