  <footer id="footer" class="mt-5" th:fragment="footerUsuario">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3">
        <div class="col" id="contact-info">
            <div class="footer-brand">
              <a class="navbar-brand" href="#"><img th:src="@{/img/DarkMode-500px.png}" alt="logo do projeto"
                width="80" height="80"></a> <span class="fs-2 text-success">Connect</span><span class="fs-2 text-white"><strong>Job</strong></span>
                <hr>
            </div>
            <p><i class="bi bi-geo-alt"></i> Praça Senador Salgado Filho, s/n° – Rio de Janeiro – RJ </p>
            <p><i class="bi bi-telephone"></i>(99)9999-9999</p>
            <p><i class="bi bi-envelope"></i>recodeprosquad12@gmail.com</p>
        </div>
        <div class="col">
            <h4 class="mt-4 text-center">Outros serviços</h4>
            <nav>
                <a href="#">Propriedade intelecutal</a>
                <hr>
                <a href="#">LGPD</a>
                <hr>
                <a href="#">Direito internacional</a>
            </nav>
        </div>
        <div class="col">
            <div class="social-networks">
                <h4 class="mt-4 text-center">Siga-nos</h4>
                <div class="networks">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="https://github.com/Squad12Rcd" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
        <p class="container text-center mt-5"><i class="bi bi-c-circle"></i> ConnectJob - Todos os direitos
            reservados
        </p>
    </div>
</footer>