 <header th:fragment="headerEmpresa">
        <nav class="navbar navbar-expand-lg bg-body-light text-center">
            <div class="container-fluid bg-nav box">
               <a class="navbar-brand"><img th:src="@{/img/DarkMode-500px.png}" alt="logo do projeto"
            width="80" height="80"></a> <span class="fs-2 text-success">Connect</span><span class="fs-2"><strong>Job</strong></span>
                <button class="navbar-toggler bg-light text-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto me-3 mb-2 mb-lg-0 fs-5 gap-4  ">
                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/empresa/home/{id}(id=${empresa.id})}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/empresa/gerenciarVagas/{id}(id=${empresa.id})}"> Minhas Vagas </a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link t" th:href="@{/empresa/perfilEmpresa/{id}(id=${empresa.id})}"> Meu Perfil </a>
                        </li>  
                         <li class="nav-item">
                			<div class="form-check form-switch">
							  <label class="form-check-label" for="flexSwitchCheckChecked"><i class="bi bi-moon-fill"></i></label>
							  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>					  
						</div>          
                        </li>       
                    </ul>  
                </div>
            </div>
        </nav>

    </header>
