<header>
	<nav class="container-fluid navbar navbar-expand-lg bg-body-light text-center box fixed-top">
		<div class="container-fluid bg-nav">
			<a class="navbar-brand"><img th:src="@{/img/DarkMode-500px.png}" alt="logo do projeto" width="80"
					height="80"></a> <span class="fs-2 text-success">Connect</span><span
				class="fs-2"><strong>Job</strong></span>
			<button class="navbar-toggler bg-light text-success" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon "></span>
			</button>

			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav m-auto me-3 mb-2 mb-lg-0 fs-5 gap-4  ">
					<li class="nav-item">
						<a class="nav-link t " href="#">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link t" href="#carreiras"> Carreiras </a>
					</li>

					<li class="nav-item">
						<a class="nav-link t" href="#nossoscursos"> Cursos </a>
					</li>

					<li class="nav-item">
						<a class="nav-link t" href="#contatos"> Contatos </a>
					</li>
					
					<li class="nav-item">
						<a class="btn btn-outline-light nav-link t" href="#contatos"> Login </a>
					</li>
					
					<li class="nav-item">
						<button class="toggle-btn bg-dark" onclick="darkMode()">
							<i class="bi bi-moon-fill"></i></button>
					</li>

				</ul>
			</div>
		</div>

	</nav>
</header>